:root {
    --color1:#000;
    --color2:#4BCAFF;
    --color3:#35444F;
    --color4:#fff;
    --color5:#222F3A;
    --color6:#485863;
    --color7:#2C2C2C;
    --color8:#0C1927;
    --color9:#010101;
    --color10:#63696E7A;

}

.body {
    width: 1480px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

.container {
    width: 1280px;
    margin: 63px 100px 30px 100px;
}

.title {
    margin-bottom:40px ;
    font-size: 80px;
}

.title-link {
    text-decoration: none;
    color: var(--color1);
}

.title-color {
    color: var(--color2);
}

.nav { 
    display: flex;
    justify-content: center;
    margin-bottom: 49px;
    height: 69px;
    background-color: var(--color3);
}  

.nav-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color:var(--color4);
    height: 69px;
    font-size: 24px;
    padding: 0 32px;
    border-left: 1px solid var(--color4);
    border-right: 1px solid var(--color4);
}

.main {
    display: flex;
    justify-content: space-between;
    margin-bottom: 54px;
}

.aside {
    display: flex;
    flex-direction: column;
    width: 344px;
    height: fit-content;
    border: 1px solid var(--color1);
}

.main-link {
    display: flex;
    height: 58px;
    padding: 8px 40px;
    align-items: center;
    gap: 8px;
    align-self: stretch;
}

.main-link {
    text-decoration: none;
    color: var(--color6);
    font-size: 27px;
    line-height: 27px; 
}

.main-section {
    width: 885px;
}

.main-img {
    height: 529px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 37px;
    border: 1px solid var(--color1);
}

.image {
    width: 320px;   
}

.paragraf {
    color: var(--color7);
    font-size: 18px;
    line-height: 24px;
    margin-top: 13px;
}

.footer {
    height: 69px;
    display: flex;
    justify-content: left;
    align-items: center;
    background-color:var(--color10);
}

.footer-nav {
    display: flex;
    justify-content: space-between;
    width: 875px;
    margin-left: 40px;
}

.footer-link {
    color: var(--color8);
    font-size: 28px;
    text-decoration: none;
}

.footer-date {
    width: 190px;
    color: var(--color9);
    font-size: 24px;
    text-align: center;
    margin-left: 135px;
}


